
<div class="container-fluid">
    <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
    <div ng-show="model.errorMessage" class="alert alert-danger">
        {{model.errorMessage}}
    </div>
<h1>Login</h1>
<label for="username">
Username</label>
<input id = "username" ng-model="model.user.username" type="text" class="form-control" placeholder="vaibhav"/>
<label for="password">
    Password</label>
<input id="password"  ng-model="model.user.password" type="password" class="form-control" placeholder="pass"/>
<a class="btn btn-primary btn-block" ng-click="model.login(model.user)">
Login</a>
<a class="btn btn-success btn-block"
   href="#!/register">
Register</a>
</div>
