<!--<nav class="navbar navbar-default navbar-fixed-top">-->
        <!--<div class="container-fluid">-->
            <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"-->
                        <!--aria-controls="navbar">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="#">Profile</a>-->
            <!--</div>-->

            <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
            <!--<div id="navbar" class="navbar-collapse collapse">-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li><a href="#">Link</a></li>-->
                <!--</ul>-->
            <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
    <!--</nav>-->
 <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="#">
                    Profile
                </a>
            </div>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(user)" class="navbar-link">
      <span class="glyphicon glyphicon-ok">
      </span>
                </a>
            </p>
        </div>
    </nav>

<div class="container-fluid">
<form>
<div class="form-group">
    <label for="username">Username</label>
    <input type="text" ng-model="model.user.username" class="form-control" id="username" placeholder="vaibhav">
</div>
<div class="form-group">
    <label for="email">Email address</label>
    <input type="email" ng-model="model.user.email" class="form-control" id="email" placeholder="vaibhav@gmail.com">
</div>
<div class="form-group">
    <label for="first-name">First Name</label>
    <input type="text" ng-model="model.user.firstName" class="form-control" id="first-name" placeholder="vaibhav">
</div>
<div class="form-group">
    <label for="last-name">Last Name</label>
    <input type="text" ng-model="model.user.lastName" class="form-control" id="last-name" placeholder="karnam">
</div>

    <div class="form-group">
    <label for="dob">Date of Birth</label>
    <input name="dob"
           ng-model="model.user.dob"
           type="date"
           class="form-control"
           id="dob"/>
    </div>
</form>

<a class="btn btn-primary btn-block"
   href="#!/user/{{model.user._id}}/website">
Websites</a>
<a class="btn btn-danger  btn-block"
   href="#!/login">
Logout</a>
        <a class="btn btn-default btn-danger btn-block"
           ng-click="model.unregister()"
           role="button">Unregister</a>

        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.updateUser(user)"
           role="button">Update</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
<div class="navbar-header">
<p class="navbar-text pull-right">
    <a href="#!/profile/{{model.userId}}" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
    </a>
</p>
</div>
</nav>

