
<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
<h1>Register</h1>
<label for="username">
Username</label>
<input id="username"
       ng-model="username"
   type="text"
   class="form-control"
   placeholder="vaibhav"/>
<label for="password">
Password</label>
<input id ="password"
   type="password"
       ng-model="password"
   class="form-control"
   placeholder="pass"/>
<label for="verifypass">
Verfiy Password</label>
<input id = "verifypass"
       ng-model="password2"
   type="password"
   class="form-control"
   placeholder="pass"/>
<a class="btn btn-primary btn-block"
   ng-click="model.registerUser(username, password, password2)">
Register</a>
<a class="btn btn-danger  btn-block"
href="#!/login">
Cancel</a>
</div>
