input.form-control ,
textarea.form-control ,
select.form-control{
margin-bottom: 5px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
padding-top: 60px;
padding-bottom: 60px;
}


jga .navbar-default {
background-color: gray;
border-color: gray;
}

.jga .navbar-default .navbar-brand {
color: white;
}

nav.navbar.navbar-default.navbar-fixed-top{
    background-color: gray;
}

nav.navbar.navbar-default.navbar-fixed-bottom{
    background-color: gray;
}


.navbar-default {
background-color: gray;
border-color: gray;
}

.navbar-default .navbar-brand{
color: white;
}

.navbar-default .navbar-link {
color: white;
}

.navbar-header{
width: 100%;
padding-right: 30px;
background-color: gray;
}

.navbar.navbar-default a {
color: white;
}

img{
    margin-top: 10px;
}

.row.navbar-text{
width: 100%;
}

.wd-widgets > img{
width: 100%;
padding-bottom: 10px;
margin-top: 10px;
margin-bottom: 10px;
}

.wd-widgets > .wd-widgets-toolbar{
position: absolute;
right: 15px;
background: white;
opacity: 0.9;
padding: 5px;
border-bottom-left-radius: 5px;
}

.list-group-item > .row, .list-group-item > a{
padding-right: 10px;
padding-left: 10px;
}

nav.navbar.navbar-default.navbar-fixed-top >
.container-fluid >
.navbar-header >
.row >
.col-xs-4.hidden-xs{
padding-right: 25px;
}

.col-xs-9{
white-space: nowrap;
}

@media (max-width: 768px){
.navbar-text{
margin-right: 15px;
}
}
.embed-responsive {
position: relative;
display: block;
height: 0;
padding: 0;
overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
position: absolute;
top: 0;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
border: 0;
}

#youtube{
margin-top: 10px;
}

.embed-responsive-16by9 {
padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
padding-bottom: 75%;
}

.embed-responsive-16by9 > .wd-widgets > .wd-widgets-toolbar{
margin-right: -15px;
}

.jga .jga-split-view-left {
position: absolute;
top: 60px;
bottom: 0px;
z-index: 1;
overflow-y: scroll;
}


@media (min-width: 1200px) {
.col-lg-9.jga-split-view-right {
width: 75%;
position: absolute;
right: 0px;
overflow-y: scroll;
top: 60px;
bottom: 0px;
}
}