<nav class="navbar navbar-default navbar-fixed-top">
<div class="navbar-header">
<div class="navbar-brand">
    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span></a>
    <a href="#">
       Search Flickr</a>
</div>
</div>
</nav>
<div class="container-fluid">
<div class="input-group">
<input ng-model="searchText" type="text" class="form-control">
<span class="input-group-btn">
<a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">
    <span class="glyphicon glyphicon-search"></span>
</a>
</span>
</div>
<div class="row">
<div id = "flickr" class="col-xs-4" ng-repeat="photo in model.photos.photo">
    <img ng-click="model.selectPhoto(photo, model.widgetId)"
         ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
</div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
<div class="navbar-header">
<p class="navbar-text pull-right">
    <a href="#!/profile/{{model.userId}}" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span></a>
</p>
</div>
</nav>
