<nav class="navbar navbar-default navbar-fixed-top">
<div class="navbar-header">
<div class="navbar-brand">
<a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
<span class="glyphicon glyphicon-chevron-left"></span></a>
<a href="#">
Choose Widget</a>
</div>
</div>
</nav>
<div class="container-fluid">
<ul class="list-group">
<li class="list-group-item">
    <a ng-click= "model.createWidgetHeader(widget)">
        Header</a>
</li>
<li class="list-group-item">
    <a ng-click= "model.createWidgetYoutube(widget)" class="navbar-link">
        YouTube</a>
</li>
<li class="list-group-item">
<a ng-click= "model.createWidgetImage(widget)" class="navbar-link">
Image</a>
</li>
<li class="list-group-item">
<a href="widget-image.view.client.html">
    Label</a>
</li>
<li class="list-group-item">
<a href="widget-image.view.client.html">
    HTML</a>
</li>
<li class="list-group-item">
<a href="widget-image.view.client.html">
    Text</a>
</li>
</ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
<div class="navbar-header">
<p class="navbar-text pull-right">
<a href="#!/profile/{{model.userId}}" class="navbar-link">
<span class="glyphicon glyphicon-user"></span></a>
</p>
</div>
</nav>
