<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<title>Title</title>
<link href="../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="../../css/style.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
<div class="navbar-header">
<div class="navbar-brand">
<a href="../page/templates/page-list.view.client.html" class="navbar-link">
    <span class="glyphicon glyphicon-chevron-left"></span></a>
<a href="#">
    Widgets</a>
</div>
<p class="navbar-text pull-right">
<a href="widget-chooser.html" class="navbar-link">
<span class="glyphicon glyphicon-plus">
</span></a>
</p>
</div>
</nav>
<div class="container-fluid">
<div class="wd-widgets">
<div class="wd-widgets-toolbar">
<a href="widget-heading.html">
<span class="glyphicon glyphicon-cog"></span></a>
<span class="glyphicon glyphicon-align-justify"></span>
</div>
<h1>GIZMODO</h1>
</div>
<div class="wd-widgets">
<div class="wd-widgets-toolbar">
<a href="widget-heading.html">
<span class="glyphicon glyphicon-cog"></span></a>
<span class="glyphicon glyphicon-align-justify"></span>
</div>
<h3>Scientists Push Back Against Booming Genetic Pseudoscience Market</h3>
</div>
<div class="wd-widgets">
<div class="wd-widgets-toolbar">
<a href="widget-image.html">
<span class="glyphicon glyphicon-cog"></span></a>
<span class="glyphicon glyphicon-align-justify"></span>
</div>
<img src="https://i.kinja-img.com/gawker-media/image/upload/s--2tAIbTIx--/c_scale,fl_progressive,q_80,w_800/zrcscv3tcql43naw2i0h.png">
</div>
<div class="wd-widgets">
<div class="wd-widgets-toolbar">
<a href="widget-heading.html">
<span class="glyphicon glyphicon-cog"></span></a>
<span class="glyphicon glyphicon-align-justify"></span>
</div>
<p>Plenty of the tests out there, MacArthur said, are relatively harmless.
Finding out <a href="https://www.vinome.com/" target="_blank" rel="noopener">
    which wine</a> you’re “genetically” likely to enjoy probably isn’t going to hurt much
more than your wallet. But that’s not always the case. MacArthur pointed to a simple genetic
test that claimed it
<a href="http://genomesunzipped.org/2013/10/guest-post-the-perils-of-genetic-risk-prediction-in-autism.php"
   target="_blank" rel="noopener">could detect autism</a>, which he and his colleagues spoke out about after
finding out the test had a patent in the works.</p>
</div>
<div class="embed-responsive embed-responsive-16by9" >
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sBzRwzY7G-k"
        frameborder="0" allowfullscreen>
</iframe>
<div class="wd-widgets">
    <div class="wd-widgets-toolbar">
        <a href="widget-youtube.html">
            <span class="glyphicon glyphicon-cog"></span></a>
        <span class="glyphicon glyphicon-align-justify"></span>
    </div>
</div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
<div class="navbar-header">
<p class="navbar-text pull-right">
<a href="../user/templates/profile.view.client.html" class="navbar-link">
    <span class="glyphicon glyphicon-user"></span></a>
</p>
</div>
</nav>
</body>
</html>