<div id="site-content">
<header class="site-header">
<div class="container">
<a href="../home.html" id="branding">
<img src="https://raw.githubusercontent.com/vaibhavkarnam/karnam-vaibhav-webdev1/master/public/project/images/logo.png" alt="" class="logo">
<div class="logo-copy">
<h1 class="site-title">Company Name</h1>
<small class="site-description">Tagline goes here</small>
</div>
</a> <!-- #branding -->

<div class="main-navigation">
<button type="button" id ="navbutton" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div>
<div class="collapse navbar-collapse navbar-right" id="myNavbar">
<ul class="nav navbar-nav">
<li><a ng-show="!model.user._id" href="#!/login">Login</a></li>
<li><a ng-show="!model.user._id" href="#!/register">Register</a></li>
<li><a ng-show="model.user._id" href="#!/profile">Profile</a></li>
<li><a ng-show="model.user._id" ng-click="model.logout()">logout</a></li>
<li><a href="#!/">BACK</a></li>
</ul>
</div>
</div><!-- .main-navigation -->

<div class="mobile-navigation"></div>
</div>
</header>
<main class="main-content">
<div class="container">
<div class="page">
<div class="breadcrumbs">
<a href="#!/">Home</a>
<span>Update Review</span>
</div>

<!-- markup -->
<!-- note: your server code `avatar_upload.php` will receive `$_FILES['avatar']` on form submission -->
<!-- the avatar markup -->
<div class="col-lg=5 col-md-5">
<div class="form-group">

<textarea type="text" class="form-control" ng-model="model.reviewForUpdate.description"
         rows="8" laceholder="Description"></textarea>
</div>

</div>
<button type="button" class="btn btn-success"
    ng-click="model.reviewUpdate(model.reviewForUpdate._id,model.reviewForUpdate)">Update</button>








<!-- the fileinput plugin initialization -->

</div>
</div> <!-- .container -->
</main>
<footer class="site-footer">
<div class="container">
<div class="row">
</div> <!-- .row -->


<div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
</div> <!-- .container -->

</footer>
</div>
<!-- Default snippet for navigation -->

