<div class="container-fluid">
<label for="name">
    Name</label>
<input id = "name" ng-model="model.widget.name" class="form-control"/>
<label for="text">
    Text</label>
<input id = "text" ng-model="model.widget.text" class="form-control"/>
<label for="url">
    URL</label>
<input id = "url" ng-model="model.widget.url" class="form-control"
       placeholder="https://youtu.be/E10VJST98eM"/>
<label for="width">
    Width</label>
<input id = "width" ng-model="model.widget.width" class="form-control" placeholder="100%"/>
<a ng-click="model.widgetDelete(model.widgetId)" class="btn btn-block btn-danger">
    Delete</a>
</div>