<div class="container-fluid">
<label for="name">Name
</label>
<input id = "name" ng-model="model.widget.name" class="form-control"/>
Text
<input ng-model="model.widget.text" class="form-control"/>
Rows
<input ng-model="model.widget.rows" class="form-control" type="number"/>
Placeholder
<input ng-model="model.widget.placeholder" class="form-control"/>
Formatted
<input ng-model="model.widget.formatted" type="checkbox"/>
<a ng-click="model.widgetDelete(model.widgetId)" class="btn btn-block btn-danger">Delete
</a>
</div>