<div class="container-fluid">
<label for="name">
    Name</label>
<input id = "name" ng-model="model.widget.name" class="form-control"/>
<label for="text">
    Text</label>
<input id = "text" ng-model="model.widget.text" class="form-control"/>
<label for="url">
    URL</label>
<input id = "url" class="form-control" ng-model="model.widget.url"
       placeholder="https://i.kinja-img.com/gawker-media/image/upload/kbzlvdhqcsbzbtlmr60a.png"/>
<label for="width">
    Width</label>
<input id = "width" ng-model="model.widget.width" class="form-control" placeholder="100%"/>
<label for="file">
    Upload</label>
<input id="file" multiple type="file" class="form-control"/>
<a href="#" class="btn btn-block btn-primary">
    Upload Image</a>
<a ng-click="model.widgetDelete(model.widgetId)" class="btn btn-block btn-danger">
    Delete</a>
</div>
