
<div id="site-content">
<header class="site-header">
<div id="homehead"class="container">
<a href="home.html" id="branding">
<img src="https://raw.githubusercontent.com/vaibhavkarnam/karnam-vaibhav-webdev1/master/public/project/images/logo.png" alt="" class="logo">
<div class="logo-copy">
<h1 class="site-title">CINEREVIEW</h1>
<small class="site-description">Explore Hollywood!</small>
</div>
</a> <!-- #branding -->

	<div class="main-navigation">
		<button type="button" id ="navbutton" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div>
		<div class="collapse navbar-collapse navbar-right" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a ng-show="model.user.role[0] == 'ADMIN'" href="#!/admin">ADMIN</a></li>
				<li><a ng-show="!model.user._id" href="#!/login">Login</a></li>
				<li><a ng-show="!model.user._id" href="#!/register">Register</a></li>
				<li><a ng-show="model.user._id" href="#!/profile">Profile</a></li>
				<li><a ng-show="model.user._id" ng-click="model.logout()">logout</a></li>
			</ul>
		</div>
	</div>

	<div class="mobile-navigation"></div>
</div>
</header>
<main class="main-content">
<div class="container">
<div class="page">
<div class="row">
<div class="col-md-9" id = "topcarousel">
<div id="slides_control">
<div>
<div id="Carousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="Carousel" data-slide-to="0" class="active"></li>
		<li data-target="Carousel" data-slide-to="1"></li>
		<li data-target="Carousel" data-slide-to="2"></li>
		<li data-target="Carousel" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<a href="#!/user/movies/tt5013056">
				<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNzVkYmY3ODQtZGE3ZS00NjlkLWJjNWQtMTk3MzEwY2JhMDI4XkEyXkFqcGdeQXVyNTAzMzQ5MTI@._V1_SX300.jpg" class="center-block">
				<div class="carousel-caption">
					<h3>Dunkirk</h3>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="#!/user/movies/tt2250912">
			<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTk4ODQ1MzgzNl5BMl5BanBnXkFtZTgwMTMyMzM4MTI@._V1_SX300.jpg" class="center-block">
			<div class="carousel-caption">
				<h3>The Spiderman : Homecoming</h3>
			</div>
			</a>
		</div>
		<div class="item">
			<a href="#!/user/movies/tt0451279">
			<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNDFmZjgyMTEtYTk5MC00NmY0LWJhZjktOWY2MzI5YjkzODNlXkEyXkFqcGdeQXVyMDA4NzMyOA@@._V1_SX300.jpg" class="center-block">
			<div class="carousel-caption">
				<h3>Wonder Woman</h3>
			</div>
			</a>
		</div>
		<div class="item">
			<a href="#!/user/movies/tt2406566">
			<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjM5NDYzMzg5N15BMl5BanBnXkFtZTgwOTM2NDU1MjI@._V1_SX300.jpg" class="center-block">
			<div class="carousel-caption">
				<h3>Atomic Blonde</h3>
			</div>
			</a>
		</div>
	</div>
	<span class="left carousel-control" data-target="#Carousel" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
</span>
	<span class="right carousel-control" data-target="#Carousel" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
</span>
</div>
<div class="container-fluid">
	<div class="page-header">
		Search Movie Details
	</div>
<form class="navbar-form" role="search">
	<div class="input-group add-on" id="searchbar">
		<input class="form-control" ng-model="movie" placeholder="Search" name="srch-term" id="srch-term" type="text">
		<a href="#!/user/movie/search/{{movie}}"><button class="btn btn-default btn-primary" type="submit">Get Movies..<i class="glyphicon glyphicon-search"></i></button>
		</a>
	</div>
</form>
</div>
</div>
</div>
</div>
<div class="col-md-3">
<div class="row">
<div class="col-sm-6 col-md-12" id="logan">
<div class="latest-movie">
	<a href="#!/user/movies/tt3315342"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjQwODQwNTg4OV5BMl5BanBnXkFtZTgwMTk4MTAzMjI@._V1_SX300.jpg" alt="Movie 1"></a>
	<div class="carousel-caption">
		<h3>Logan</h3>
	</div>
</div>
</div>
<div class="col-sm-6 col-md-12">
<div class="latest-movie">
	<a href="#!/user/movies/tt4630562"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjMxODI2NDM5Nl5BMl5BanBnXkFtZTgwNjgzOTk1MTI@._V1_SX300.jpg" alt="Movie 2"></a>
	<div class="carousel-caption">
		<h3>Fate of the Furious</h3>
	</div>
</div>
</div>
</div>
</div>
</div> <!-- .row -->
<div class="row">
<div class="col-sm-6 col-md-3">
<div class="latest-movie">
<a href="#!/user/movies/tt1458169"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcyNDgyODEzOV5BMl5BanBnXkFtZTgwMTI4MTA2MjI@._V1_SX300.jpg" alt="Movie 3"></a>
<div class="carousel-caption">
<h3>Kidnap</h3>
</div>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="latest-movie">
<a href="#!/user/movies/tt2239822"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTkxMDAxNDUyNV5BMl5BanBnXkFtZTgwOTc3MzcxMjI@._V1_SX300.jpg" alt="Movie 4"></a>
<div class="carousel-caption">
<h3>Valerian</h3>
</div>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="latest-movie">
<a href="#!/user/movies/tt3890160"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjM3MjQ1MzkxNl5BMl5BanBnXkFtZTgwODk1ODgyMjI@._V1_SX300.jpg" alt="Movie 5"></a>
<div class="carousel-caption">
<h3>Baby Driver</h3>
</div>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="latest-movie">
<a href="#!/user/movies/tt1790809"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTYyMTcxNzc5M15BMl5BanBnXkFtZTgwOTg2ODE2MTI@._V1_SX300.jpg" alt="Movie 6"></a>
<div class="carousel-caption">
<h3>Dead Men Tell No Tales</h3>
</div>
</div>
</div>
</div> <!-- .row -->

<div class="row">


</div>
</div>
</div> <!-- .container -->
</main>
<footer class="site-footer">
<div class="container">
<div class="row">

</div> <!-- .row -->

<div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
</div> <!-- .container -->

</footer>
</div>
<!-- Default snippet for navigation -->
