<div id="site-content">
    <header class="site-header">
        <div class="container">
            <a href="../../../home.html" id="branding">
                <img src="../../../vendor/images/logo.png" alt="" class="logo">
                <div class="logo-copy">
                    <h1 class="site-title">Company Name</h1>
                    <small class="site-description">Tagline goes here</small>
                </div>
            </a> <!-- #branding -->

            <div class="main-navigation">
                <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                <ul class="menu">
                    <li class="menu-item"><a href="../../../home.html">Home</a></li>
                    <li class="menu-item"><a href="about.html">About</a></li>
                    <li class="menu-item"><a href="review.html">Movie reviews</a></li>
                    <li class="menu-item current-menu-item"><a href="login.view.client.html">Join us</a></li>
                    <li class="menu-item"><a href="contact.html">Contact</a></li>
                </ul> <!-- .menu -->

                <form action="#" class="search-form">
                    <input type="text" placeholder="Search...">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div> <!-- .main-navigation -->

            <div class="mobile-navigation"></div>
        </div>
    </header>
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <a href="../../../home.html">Home</a>
                    <span>Profile</span>
                </div>

                <!-- markup -->
                <!-- note: your server code `avatar_upload.php` will receive `$_FILES['avatar']` on form submission -->
                <!-- the avatar markup -->
                <div id="kv-avatar-errors-2" class="center-block"></div>
                <form class="form form-vertical" action="/avatar_upload.php" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="kv-avatar center-block text-center" style="width:200px">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Russia-Portugal_CC2017_%2811%29_%28cropped%29.jpg">
                                <input id="avatar-2" name="avatar-2" type="file" class="file-loading" required>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="tabbable tabs-below" ng-init="selectedTab = 1;">
                                <ul class="nav nav-tabs nav-justified">
                                    <li ng-class="{active: selectedTab == 1}">
                                        <a data-target="#" ng-click="selectedTab = 1;">Reviews</a>
                                    </li>
                                    <li ng-class="{active: selectedTab == 2}">
                                        <a data-target="#" ng-click="selectedTab = 2;">Profile</a>
                                    </li>
                                    <li ng-class="{active: selectedTab == 3}">
                                        <a data-target="#" ng-click="selectedTab = 3;">Following</a>
                                    </li>
                                    <li ng-class="{active: selectedTab == 3}">
                                        <a data-target="#" ng-click="selectedTab = 4;">Followers</a>
                                    </li>
                                </ul>

                                <div class="tab-content" ng-show="selectedTab == 1">
                                    <div class="container-fluid">
                                        <h1>Profile</h1>
                                        <a class="btn btn-success pull-right" ng-hide="model.flag"  ng-click="model.followUser()" >Follow</a>
                                        <a class="btn btn-danger pull-right" ng-show="model.flag" ng-click="model.unFollow()" >Unfollow</a>
                                    </div>
                                </div>

                                <div class="tab-content" ng-show="selectedTab == 2">
                                    <form>
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" ng-model="model.user.username" class="form-control" id="username" placeholder="vaibhav">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input type="email" ng-model="model.user.email" class="form-control" id="email" placeholder="vaibhav@gmail.com">
                                        </div>
                                        <div class="form-group">
                                            <label for="first-name">First Name</label>
                                            <input type="text" ng-model="model.user.firstName" class="form-control" id="first-name" placeholder="vaibhav">
                                        </div>
                                        <div class="form-group">
                                            <label for="last-name">Last Name</label>
                                            <input type="text" ng-model="model.user.lastName" class="form-control" id="last-name" placeholder="karnam">
                                        </div>

                                        <div class="form-group">
                                            <label for="dob">Date of Birth</label>
                                            <input name="dob"
                                                   ng-model="model.user.dob"
                                                   type="date"
                                                   class="form-control"
                                                   id="dob"/>
                                        </div>
                                    </form>

                                    <a class="btn btn-primary btn-block"
                                       href="#!/user/{{model.user._id}}/website">
                                        Websites</a>
                                    <a class="btn btn-danger  btn-block"
                                       href="#!/login">
                                        Logout</a>
                                    <a class="btn btn-default btn-danger btn-block"
                                       ng-click="model.unregister()"
                                       role="button">Unregister</a>

                                    <a class="btn btn-default btn-primary btn-block"
                                       ng-click="model.updateUser()"
                                       role="button">Update</a>
                                </div>

                                <div class="tab-content" ng-show="selectedTab == 3">
                                    3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </div>
                                <div class="tab-content" ng-show="selectedTab == 4">
                                    <div class="panel-heading">
                                        <div class="container-fluid"><h4>Users following <b>{{model.user.username}}</b>:</h4>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="alert alert-danger"  ng-if="(model.UsersFollowers).length < 1"> No followers yet! </div>
                                        <div ng-repeat="follower in model.UsersFollowers">
                                            <h1><a href="#!/profile/{{follower._id}}">{{follower.username}}</a></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- the fileinput plugin initialization -->

            </div>
        </div> <!-- .container -->
    </main>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia nesciunt saepe cupiditate</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Recent Review</h3>
                        <ul class="no-bullet">
                            <li>Lorem ipsum dolor</li>
                            <li>Sit amet consecture</li>
                            <li>Dolorem respequem</li>
                            <li>Invenore veritae</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Help Center</h3>
                        <ul class="no-bullet">
                            <li>Lorem ipsum dolor</li>
                            <li>Sit amet consecture</li>
                            <li>Dolorem respequem</li>
                            <li>Invenore veritae</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Join Us</h3>
                        <ul class="no-bullet">
                            <li>Lorem ipsum dolor</li>
                            <li>Sit amet consecture</li>
                            <li>Dolorem respequem</li>
                            <li>Invenore veritae</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Social Media</h3>
                        <ul class="no-bullet">
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Google+</li>
                            <li>Pinterest</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Newsletter</h3>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Email Address">
                        </form>
                    </div>
                </div>
            </div> <!-- .row -->

            <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
        </div> <!-- .container -->

    </footer>
</div>
<!-- Default snippet for navigation -->

