<div id="site-content">
    <header class="site-header">
        <div class="container">
            <a href="../../../home.html" id="branding">
                <img src="../../../vendor/images/logo.png" alt="" class="logo">
                <div class="logo-copy">
                    <h1 class="site-title">Company Name</h1>
                    <small class="site-description">Tagline goes here</small>
                </div>
            </a> <!-- #branding -->

            <div class="main-navigation">
                <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                <ul class="menu">
                    <li class="menu-item"><a href="../../../home.html">Home</a></li>
                    <li class="menu-item"><a href="about.html">About</a></li>
                    <li class="menu-item"><a href="review.html">Movie reviews</a></li>
                    <li class="menu-item current-menu-item"><a href="login.view.client.html">Join us</a></li>
                    <li class="menu-item"><a href="contact.html">Contact</a></li>
                </ul> <!-- .menu -->

                <form action="#" class="search-form">
                    <input type="text" placeholder="Search...">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div> <!-- .main-navigation -->

            <div class="mobile-navigation"></div>
        </div>
    </header>
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <a href="../../../home.html">Home</a>
                    <span>Register</span>
                </div>

                <div class="content">
                    <div ng-show="model.error" class="alert alert-danger">
                        {{model.error}}
                    </div>
                    <h1>Register</h1>
                    <label for="username">
                        Username</label>
                    <input id="username"
                           ng-model="username"
                           type="text"
                           class="form-control"
                           placeholder="vaibhav"/>
                    <label for="password">
                        Password</label>
                    <input id ="password"
                           type="password"
                           ng-model="password"
                           class="form-control"
                           placeholder="pass"/>
                    <label for="verifypass">
                        Verfiy Password</label>
                    <input id = "verifypass"
                           ng-model="password2"
                           type="password"
                           class="form-control"
                           placeholder="pass"/>
                    <a class="btn btn-primary btn-block"
                       ng-click="model.registerUser(username, password, password2)">
                        Register</a>
                    <a class="btn btn-danger  btn-block"
                       href="#!/login">
                        Cancel</a>
                </div>
            </div>
        </div> <!-- .container -->
    </main>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia nesciunt saepe cupiditate</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Recent Review</h3>
                        <ul class="no-bullet">
                            <li>Lorem ipsum dolor</li>
                            <li>Sit amet consecture</li>
                            <li>Dolorem respequem</li>
                            <li>Invenore veritae</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Help Center</h3>
                        <ul class="no-bullet">
                            <li>Lorem ipsum dolor</li>
                            <li>Sit amet consecture</li>
                            <li>Dolorem respequem</li>
                            <li>Invenore veritae</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Join Us</h3>
                        <ul class="no-bullet">
                            <li>Lorem ipsum dolor</li>
                            <li>Sit amet consecture</li>
                            <li>Dolorem respequem</li>
                            <li>Invenore veritae</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Social Media</h3>
                        <ul class="no-bullet">
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Google+</li>
                            <li>Pinterest</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Newsletter</h3>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Email Address">
                        </form>
                    </div>
                </div>
            </div> <!-- .row -->

            <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
        </div> <!-- .container -->

    </footer>
</div>
<!-- Default snippet for navigation -->
