<div class="col-lg=5 col-md-5">
    <div class="modal-body">
        <div class="form-group">

                        <input type="text" ng-model="model.reviewForUpdate.description"
                                  placeholder="Description">
        </div>
    </div>

</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-success form-control"
                ng-click="model.reviewUpdate(model.reviewForUpdate._id,model.reviewForUpdate)">Update</button>
    </div>
</div>
