

<div id="site-content">
<header class="site-header">
<div class="container">
<a href="../home.html" id="branding">
<img src="https://raw.githubusercontent.com/vaibhavkarnam/karnam-vaibhav-webdev1/master/public/project/images/logo.png" alt="" class="logo">
<div class="logo-copy">
<h1 class="site-title">CINEREVIEW</h1>
<small class="site-description">Explore Hollywood!</small>
</div>
</a> <!-- #branding -->

<!--<div class="main-navigation">-->
<!--<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>-->
<!--<ul class="menu">-->
<!--<li class="menu-item"><a href="home.html">Home</a></li>-->
<!--<li class="menu-item"><a href="about.html">About</a></li>-->
<!--<li class="menu-item current-menu-item"><a hrmovie-search.view.client.htmlhtml">Movie reviews</a></li>-->
<!--<li class="menu-item"><a href="login.view.client.html">Join us</a></li>-->
<!--<li class="menu-item"><a href="contact.html">Contact</a></li>-->
<!--</ul> &lt;!&ndash; .menu &ndash;&gt;-->

<!--<form action="#" class="search-form">-->
<!--<input type="text" placeholder="Search...">-->
<!--<button><i class="fa fa-search"></i></button>-->
<!--</form>-->
<!--</div> &lt;!&ndash; .main-navigation &ndash;&gt;-->


	<div class="main-navigation">
		<button type="button" id ="navbutton" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div>
		<div class="collapse navbar-collapse navbar-right" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a ng-show="model.user.role[0] == 'ADMIN'" href="#!/admin">ADMIN</a></li>
				<li><a ng-show="!model.user._id" href="#!/login">Login</a></li>
				<li><a ng-show="!model.user._id" href="#!/register">Register</a></li>
				<li><a ng-show="model.user._id" href="#!/profile">Profile</a></li>
				<li><a ng-show="model.user._id" ng-click="model.logout()">logout</a></li>
				<li><a href="#!/">BACK</a></li>
			</ul>
		</div>
	</div>


<div class="mobile-navigation"></div>
</div>
</header>
<main class="main-content">
<div class="container">
<div class="page">
<div class="breadcrumbs">
<a href="../home.html">Home</a>
<span>Movie Review</span>
</div>
<!--<div class="filters">-->
<!--<select name="#" id="#1" placeholder="Choose Category">-->
<!--<option value="#">Action</option>-->
<!--<option value="#">Drama</option>-->
<!--<option value="#">Fantasy</option>-->
<!--<option value="#">Horror</option>-->
<!--<option value="#">Adventure</option>-->
<!--</select>-->
<!--<select name="#" id="#">-->
<!--<option ng-model = "date" ng-click="model.groupBy(date)" value="2010">2010</option>-->
<!--<option ng-model = "date" ng-click="model.groupBy(date)" value="2011">2011</option>-->
<!--<option ng-model = "date" ng-click="model.groupBy(date)" value="2012">2012</option>-->
<!--<option ng-model = "date" ng-click="model.groupBy(date)" value="2013">2013</option>-->
<!--<option ng-model = "date" ng-click="model.groupBy(date)" value="2014">2014</option>-->
<!--<option ng-model = "date" ng-click="model.groupBy(date)" value="2015">2015</option>-->
<!--<option ng-model = "date" ng-click="model.groupBy(date)" value="2016">2016</option>-->
<!--<option ng-model = "date" ng-click="model.groupBy(date)" value="2017">2017</option>-->
<!--</select>-->

<!--<select class="form-control">-->
<!--<option ng-repeat="Year in YearList" value="{{Year}}">{{Year}}</option>-->
<!--<option value=""> please Select Year </option>-->
<!--</select>-->
<!--</div>-->
<!--<div class="movie-list">-->
<!--<div class="col-lg-4 col-md-6" ng-repeat="movie in model.movies.Search">-->
<!--<div class="movie-poster">-->
<!--<a href="#!/user/{{model.userId}}/movies/{{movie.imdbID}}" class="ng-scope">-->
<!--<img ng-src="{{movie.Poster}}"/>-->
<!--</a>-->
<!--</div>-->
<!--<div >{{movie.Title}}</div>-->
<!--</div>-->
<!--</div> &lt;!&ndash; .movie-list &ndash;&gt;-->

<section class="movies" id="movies">
<h2>Featured Movies</h2>
<div class="row">
<div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="movie in model.searchedMovies.Search">
<article class="card">
	<header class="title-header">
		<h3>{{movie.Title}}</h3>
	</header>
	<div class="card-block">
		<div class="img-card">
			<a href="#!/user/movies/{{movie.imdbID}}" class="ng-scope">
				<img id = "searchimg" ng-src="{{movie.Poster}}"/>
			</a>
		</div>
	</div>
</article>
</div>
</div>
</section>


</div>
</div> <!-- .container -->
</main>
<footer class="site-footer">
<div class="container">
<div class="row">

</div> <!-- .row -->

<div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
</div> <!-- .container -->

</footer>
</div>
<!-- Default snippet for navigation -->
