<nav class="navbar navbar-default navbar-fixed-top">
<div class="navbar-header">
<div class="navbar-brand">
<a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
    <span class="glyphicon glyphicon-chevron-left"></span></a>
<a href="#">
    New Page</a>
</div>
<p class="navbar-text pull-right">
<a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" ng-click = "model.createPage(page)" class="navbar-link">
<span class="glyphicon glyphicon-ok">
</span>
</a>
</p>
</div>
</nav>
<div class="container-fluid">
<label for="name">
Name</label>
<input id = "name" ng-model="page.name" class="form-control" placeholder="Post"/>
<label for="title">
Title</label>
<input id = "title" ng-model="page.description" class="form-control" placeholder="NEWPOST"/>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
<div class="navbar-header">
<p class="navbar-text pull-right">
<a href="../../user/templates/profile.view.client.html" class="navbar-link">
    <span class="glyphicon glyphicon-user"></span>
</a>
</p>
</div>
</nav>
